.App {
  text-align: center;
  background-color: rgb(40, 40, 40);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.bg::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url("./wvbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.bg:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.bg:hover .logo {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.logo {
  position: absolute;
  z-index: 1;
  top: -8%;
  left: 50%;
  margin-top: 105px;
  margin-left: -250px;
  width: 500px;
  height: 500px;
  text-align: center;
  transition: all 1000ms;
}

.title {
  color: white;
  font-weight: bold;
  position: absolute;
  font-size: 2.2rem;
  z-index: 1;
  top: 45%;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}
.bg:hover .title {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
